.App button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin: 0 auto;
}

.App {
  text-align: center;
}

.App #noReminder {
  font-style: italic;
}